.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}.color{
    color:green;
}